.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; /* Change from 'none' to 'flex' */
  justify-content: center;
  align-items: center;
  font-size: x-large;
  z-index: 1000; /* Ensure it's above all other elements */
}

/* Remove this class as it's no longer needed */
/* .modal-overlay.active {
  display: flex;
} */

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #1a0591;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.next-button {
  margin: 20px auto 0 auto; /* Ensure top margin and center horizontally */
  padding: 10px 20px;
  background: #ca6608;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.next-button:hover {
  background: #e9a456;
}

.explanation-modal {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center child elements horizontally */
}

.explanation-modal p {
  font-size: 24px; /* Increased font size */
  text-align: center; /* Center the text */
  max-width: 50%; /* Limit width to approximately 50% */
  margin: 10px auto; /* Center horizontally with automatic side margins */
}

.explanation-modal p span {
  margin-left: 10px;
  font-size: 24px;
}